{% extends 'base.html.twig' %}

{% block title %}Mon compte-La boutique française{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    Bonjour {{ app.user.firstname }} <br>
    Bienvenue dans votre espace membre. 
    <a href=" {{ path('account_password') }} ">Modifier mon mot de passe</a>
    <a href=" {{ path('account_address') }} ">Gérer mes adresses</a>
{% endblock %}