{% extends 'base.html.twig' %}

{% block title %}Mon compte-La boutique française{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    Bonjour {{ app.user.firstname }} <br>
    Bienvenue dans votre espace membre. 
{% endblock %}