{% extends "base.html.twig" %}


{% block title %}Mes commandes-La boutique française{% endblock %}

{% block content %}
    <h1>Mes commandes</h1>
    C'est dans cet espace que vous allez pouvoir gérer toutes vos commandes.
    <a href="{{ path('account') }}">Retour</a>
    <hr> 
    {% if orders|length == 0 %}
        <p class="text-center">
            Vous n'avez pas encore ajouté de commande sur la boutique. 
        </p>
    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th>Référence</th>
                <th>Passée le</th>
                <th>Produit(s)</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td><span class="badge badge-default">Reference</span></td>
                    <td> {{ order.createdAt|date('d/m/Y') }} </td>
                    <td> {{ order.orderDetails|length }} </td>
                    <td> {{ order.carrierPrice }} </td>
                    <td class="text-right"><a href="#">Voir ma commande</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}