{% extends "base.html.twig" %}

{% block content %}
    {% if notif %}
        <div class="alert alert-info">{{ notif }}</div>
    {% endif %}
    <h1>Modifier mon mot de passe</h1>
    <a href=" {{ path('account') }} ") ">Retourner à mon compte</a>
    {{ form(monFormulaire) }}
{% endblock %}