{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    {% if notification %}
        {{ notification }}
    {% endif %}
    
    <h1 class="text-center text-muted">Inscription</h1>

    {{ form(monFormulaire) }}
{% endblock %}
